<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ajax in AngularJS</title>
    <script src="angular.js"></script>
    <script>
    var app = angular.module('my-app', []);


    app.factory('MovieService', function($http) {
      var service = {};
      var API_KEY = '6587450653d727997cbfe8c034cf9531';
      service.nowPlaying = function() {
        var url = 'http://api.themoviedb.org/3/movie/now_playing';
        return $http({
          method: 'GET',
          url: url,
          params: { api_key: API_KEY }
        })
      };

      service.movieDetails = function(movieId) {
        var url = 'http://api.themoviedb.org/3/movie/' + movieId;
        return $http({
          method: 'GET',
          url: url,
          params: { api_key: API_KEY }
        });
      };

      service.movieSearch = function(movieId) {
        var url = 'http://api.themoviedb.org/3/search/movie' ;
        return $http({
          method: 'GET',
          url: url,
          params: { api_key: API_KEY, query: movieId }
        });
      };

      return service;
    });

    app.controller('MainController',  function($scope, MovieService) {

      $scope.now_playing_call = function(){ MovieService.nowPlaying()
        .success(function(movieResults) {
          // got movie results
          console.log('Movie results', movieResults);
        });
      }

      $scope.movie_details_call = function() {
        MovieService.movieDetails($scope.movie_id)
        .success(function(data) {
          // got movie results
          console.log(data)
        });
    }
      $scope.movie_search_call = function() {
        MovieService.movieSearch($scope.movie_id)
        .success(function(data) {
          // got movie results
          console.log(data)
        });
    }

  });


    </script>
  </head>
  <body ng-app="my-app" ng-controller="MainController">
    <button ng-click="now_playing_call()" type="submit" name="button">Now Playing</button><br>
    <input type="text" ng-model="movie_id" name="name" value=""><br><button type="submit" ng-click="movie_details_call(movie_id)" name="button">Get Movie Details</button><br>
    <button type="submit" ng-click="movie_search_call(movie_id)" name="button">Search for Movie</button>
  </body>
</html>
